@use "@/assets/sass/_variable.sass" as *
@use "@/assets/sass/_mixin.sass" as *

.home.page
	.page-container
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 2em
			background-image: linear-gradient(to bottom, #fff , transparent)
		.scroll-box
			color: $theme_red
			h2
				span
					color: $theme_blue