@import "tailwindcss";
@tailwind utilities;

@theme {
	--color-bg-color: #fff4ea;
	--color-font-black: #333333;
	--color-theme-blue: #7eacb5;
	--color-theme-beige: #eddcc6;
	--color-theme-red: #bf4646;
	--color-theme-brown: #920a0a;
	/* --color-theme-brown: #533f0f; */
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}

@utility h-screen-vh {
	height: calc(var(--vh, 1vh) * 100);
}

@layer components {
	.page-shell {
		@apply flex justify-center items-center h-screen-vh py-8 px-6 md:py-14 md:px-12;
	}
	.page-container,
	.lightbox-container {
		@apply relative w-full max-w-[1080px] h-full box-border bg-white rounded-2xl md:rounded-4xl overflow-x-hidden;
	}
}
