@use "../../assets/sass/_variable.sass" as *
@use "../../assets/sass/_mixin.sass" as *

div.nav
	.container
		padding: .2em
		max-width: 300px
		background-color: $theme_blue
		border-radius: .25em
		box-shadow: 0 .14em 28em #fbebdb, 0 .1em .1em #ebdfd5
		a
			color: #FFF4EA
			font-size: .2em
			font-weight: bold