@use "./_variable.sass" as *
@use "./_mixin.sass" as *

html,body
	font-size: 100px
	font-family: $base_font
	overflow-x: hidden
	scroll-behavior: smooth
	@include bg("@/assets/images/bg.jpg",contain)
	background-repeat: repeat
	&.lock
		overflow: hidden
	
#root
	font-size: .2rem
	display: flex
	flex-direction: column
	justify-content: center
	@include screen(768px)
		font-size: 4.67vw