@use "./_variable.sass" as *
@use "./_mixin.sass" as *

html,body
	font-size: 100px
	font-family: $base_font
	overflow-x: hidden
	scroll-behavior: smooth
	background-repeat: repeat
	position: relative
	&::after
		content: ""
		height: 100vh
		width: 100vw
		position: fixed
		top: 0
		left: 0
		@include bg("@/assets/images/bg.jpg",contain)
		background-repeat: repeat
		z-index: -1
	&::-webkit-scrollbar
		display: none
	&.lock
		overflow: hidden
	
#root
	font-size: .2rem
	display: flex
	flex-direction: column
	justify-content: center
	position: relative
	@include screen(768px)
		font-size: 4.67vw