@charset 'utf-8'
// 字型定義
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sigmar&family=Special+Gothic+Condensed+One&family=Single+Day&display=swap")

$base_font: '微軟正黑體', Microsoft JhengHei, Apple LiGothic, '蘋果儷中黑'

$bg_color: #FFF4EA
$theme_blue: #7EACB5
	
