@charset 'utf-8'
// 字型定義
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sigmar&family=Special+Gothic+Condensed+One&family=Single+Day&display=swap")

$base_font: '微軟正黑體', Microsoft JhengHei, Apple LiGothic, '蘋果儷中黑'

$bg_color: #FFF4EA

@keyframes scroll
	0%
		opacity: 0

	10%
		transform: translateY(0)
		opacity: 1

	100%
		transform: translateY(.5em)
		opacity: 0

@keyframes aniLine 
	0% 
		transform-origin: 0% 0%
		transform: scale(1, 0)
	
	50% 
		transform-origin: 0% 0%
		transform: scale(1, 1)
	
	50.1% 
		transform-origin: 0% 100%
		transform: scale(1, 1)
	100% 
		transform: scale(1, 0)
		transform-origin: 0% 100%
	
