@charset 'utf-8'

$base_font: '微軟正黑體', Microsoft JhengHei, Apple LiGothic, '蘋果儷中黑'

$bg_color: #FFF4EA
$font_black: #333333
$theme_blue: #7EACB5
$theme_beige: #EDDCC6
$theme_red: #BF4646
	
// * 
// 	outline: 1px solid red !important